<!DOCTYPE html>
<html>
<head>
    <title>Kenny's KA Project</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Inconsolata' rel='stylesheet' type='text/css'>
    <link href='/css/ka.css' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/img/ka-favicon.ico">
</head>

<body>
    <div class="container">
        <h1>Real-time JS Analyzer</h1>
        <p>Written by <a href="http://kennysong.com" target="_blank">Kenny Song</a> &middot; Source on <a href="https://github.com/kennysong/KA-kennysong" target="_blank">GitHub</a> &middot; Project-based interview for <a href="https://www.khanacademy.org/">Khan Academy</a></p>

        <br />

        <p class="title">Code</p>
        <textarea id="code" placeholder="Write Javascript here..."></textarea>

        <p class="title">Feedback</p>
        <pre id="feedback">Select tests below</pre>

        <p class="title">Tests</p>
        <table id="tests">
            <tr>
                <td><label><input type="checkbox" id="forloop">Assert for loop</label></td>
                <td><label><input type="checkbox" id="noforloop">Assert no for loop</label></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" id="whileloop">Assert while loop</label></td>
                <td><label><input type="checkbox" id="nowhileloop">Assert no while loop</label></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" id="ifstatement">Assert if statement</label></td>
                <td><label><input type="checkbox" id="noifstatement">Assert no if statement</label></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" id="vardeclaration">Assert variable declaration</label></td>
                <td><label><input type="checkbox" id="novardeclaration">Assert no variable declaration</label></td>
            </tr>
        </table>
        
        <p class="title">Nested structure tests</p>
        <table id="nested-tests">
            <tr>
                <td><input disabled type="checkbox" id="nestedfor">Assert for loop</td>
                <td class="with">with</td>
                <td>
                    <label><input type="checkbox" id="nestedforfor">For loop inside</label><br/>
                    <label><input type="checkbox" id="nestedforwhile">While loop inside</label><br/>
                    <label><input type="checkbox" id="nestedforif">If statement inside</label><br/>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr>
            <td><input disabled type="checkbox" id="nestedwhile">Assert while loop</td>
                <td class="with">with</td>
                <td>
                    <label><input type="checkbox" id="nestedwhilefor">For loop inside</label><br/>
                    <label><input type="checkbox" id="nestedwhilewhile">While loop inside</label><br/>
                    <label><input type="checkbox" id="nestedwhileif">If statement inside</label><br/>
                </td>
            </tr>
        </table>
    </div>

    <script src="/js/esprima.js"></script>
    <script src="/js/estraverse.js"></script>
    <script>
        var codearea = document.getElementById('code');
        var ast;
        codearea.onkeyup = function () {
            ast = esprima.parse(codearea.value);
            document.getElementById('feedback').innerHTML = JSON.stringify(ast, null, 4);
        };
    </script>
</body>
</html>